body {
    display: flex;
}

.board {
    width: 50%;
    margin: 10px;
}

.cell {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 30px;
    height: 30px;
}

.cell:first-child {
    border-left: 1px solid black;
}

.row {
    display: flex;
}

.row:first-child > .cell {
    border-top: 1px solid black;
}

.color {
    background-color: rgb(78, 181, 255); /* remove */
}
.firstColor {
    background-color:rgb(167, 217, 253)
}
.boardWrap {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.color_red {
    background-color: rgb(239, 110, 110);
}
.hit {
    background-color: rgb(0, 122, 209); /* important FOR TESTING ONLY */
}
.miss {
    background-color: rgb(173, 173, 173);
}
.randomCell {
    background-color: rgb(255, 96, 96); /* important FOR TESTING ONLY */
}
